body
  color: #333

a
  text-decoration: none
  color: #1b98f8

#layout, #nav
  margin: 0
  padding: 0

#nav
  width: 100%
  height: 40px
  position: relative
  background: rgb(37, 42, 58)
  text-align: center

#nav .nav-menu-button
  display: block
  top: 0.5em
  right: 0.5em
  position: absolute

#nav h1 a
  color: #ffc94c

#nav.active
  height: 80%

.nav-inner
  display: none
#nav.active .nav-inner
  display: block
  padding: 2em 0

#nav .pure-menu
  background: transparent
  border: none
  text-align: left

#nav .pure-menu-link:hover,
#nav .pure-menu-link:focus
  background: rgb(55, 60, 90)

#nav .pure-menu-link
  color: #fff
  margin-left: 0.5em

#nav .pure-menu-heading
  border-bottom: none
  color: rgb(75, 113, 151)

#nav .count
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  border-radius: 20px
  color: #fff
  background: #1b98f8
  margin: 1em 0
  padding: 3px

#main
  margin: 0
  width: 100%

@media (min-width: 40em)
  #layout
    padding-left: 150px
    position: relative

  #nav
    position: fixed
    top: 0
    bottom: 0
    overflow: auto
    margin-left: -150px
    width: 150px
    height: 100%

  .nav-inner
    display: block
    padding: 2em 0

  #nav .nav-menu-button
    display: none

  #main
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 150px
    overflow: auto

@media (min-width: 60em)
  #main
    position: static
    margin: 0

.content
  padding: 1em 2em

hr.dotted
  border: none
  border-top: 1px dotted #000

@media print
  #nav, .tournament_title
    display: none !important
  .match_slip
    page-break-inside: avoid
