html
  position: relative
  min-height: 100%

body
  color: #333
  padding-top: 70px
  margin-bottom: 60px

.footer
  position: absolute
  bottom: 0
  width: 100%
  height: 60px
  line-height: 60px

a
  text-decoration: none
  color: #1b98f8

  &:hover
    text-decoration: none

nav.navbar, .footer
  background: rgb(37, 42, 58)
  color: #f8f9fa

  .navbar-brand
    color: #ffc94c

  .nav-item a
    color: #fff

    &:hover
      background: rgb(55, 60, 90)

.massive
  font-size: 120px

@media print
  body
    padding-top: 0
    zoom: 0.7

  .container
    width: auto

  .dontprint
    display: none !important

  .slips
    position: absolute

    .match_slip
      page-break-inside: avoid
