.tournament.card
  .card-body
    &:hover
      background-color: rgba(0,0,0,.03)

    a:hover
      text-decoration: none

    .delete_action
      position: absolute
      top: 1.25rem
      right: 1.25rem

.stream-link
  font-size: 2rem
